<div class="circle">
  <% if !@colors[index].empty? %>
    <img src="/images/<%=@colors[index][0]%>_ball.png" alt="<%=@colors[index][0]%> ball">
  <% end %>
</div>
<div class="circle">
  <% if !@colors[index].empty? %>
    <img src="/images/<%=@colors[index][1]%>_ball.png" alt="<%=@colors[index][1]%> ball">
  <% end %>
</div>
<div class="circle">
  <% if !@colors[index].empty? %>
    <img src="/images/<%=@colors[index][2]%>_ball.png" alt="<%=@colors[index][2]%> ball">
  <% end %>
</div>
<div class="circle">
  <% if !@colors[index].empty? %>
    <img src="/images/<%=@colors[index][3]%>_ball.png" alt="<%=@colors[index][3]%> ball">
  <% end %>
</div>
<div class="feedback"></div>
